/**********************Home Page*******************/
body{
      background-image: url(../Images/scott-graham-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
   /* background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);*/

}
   

header h1{
  /*background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;*/
      font-size: 70px;
      border: 1px solid #555;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 30px;
      height: 100px;
      color: #fff;
      font-weight: 500;
      padding-left: 50px;
      text-align: center;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  height: 1000px; /* only for demonstration, should be removed */
  /*background: #ccc;
   background-image: url(../Images/Rose%20Colored%20Lenses.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 0.7;*/
    /*ackground-color: lightgray;*/
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
      float: right;
    padding: 20px;
    width: 71.4%;
   /* background-color: #f1f1f1;*/
    /*background-image: url(../Images/back1.jfif);
    background-repeat: no-repeat;
    background-size: cover;*/
   
    opacity: 0.7;

    height: 1000px; /* only for demonstration, should be removed */
}
#main{
    clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/*************************** Side Buttons *****************************/
/*.back1 {
    width: 33%;
    height: 200px;
    float: left;
    background-color: #eeeeee;
    border: 10px;
    border-color: #ffffff;
    border-style: solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    counter-increment: bc;
    padding: 0px 5px 5px 5px;
}

.back1:before {
    content: counter(bc) "_";
    position: absolute;
    padding: 10px;
}

@media screen and (max-width: 1260px) {
    .back1 {
        width: 50%;
    }
}

@media screen and (max-width: 840px) {
    .back1 {
        width: 100%;
    }
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -100px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}*/

/* ### ### ### 01 */
.button_base b01_simple_rollover{
    margin: 20px;
}
.b01_simple_rollover {
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px;
    background-color: #ffffff;
    
}

.b01_simple_rollover:hover {
    color: #ffffff;
    background-color: #000000;
}
.b01_simple_rollover a{
    text-decoration: none;
}


/******************Main Blogs***********************/
#main{
    background-color: white;
    
}
.wrapper
{
  height: 800px;
  min-height: 800px;
    /*background-color: white;*/
     /* background-image: url(../Images/annie-spratt-V1lmayjfBJc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
   
    position: relative;
  z-index: 1;
}
#main h2{
   /* margin-top: 1100px;*/
    margin-left: 20%;
    margin-right: 20%;
      font-family: 'Open Sans', sans-serif;
      font-size: 2.5em;
      border: 1px solid #555;
      background-color: rgba(0, 0, 0, 0.7);
      padding-top: 20px;
      height: 75px;
      color: #fff;
      font-weight: 500;
      line-height: 40px;
      padding-left: 50px;
      text-align: center;
    }

/*-=-=-=-=-=-=-=-=-=-*/
/* Column Grids */
/*-=-=-=-=-=-=-=-=-= */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }

/*-=-=-=-=-=-=-=-=-=-=- */
/* Flip Panel */
/*-=-=-=-=-=-=-=-=-=-=- */

.wrapper{ width: 980px; margin: 0 auto; hoverflow: hidden;}

.panel {
	margin: 0 auto;
	height: 130px;  
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}

.panel .front,
.panel .back {
	text-align: center;
}
	
.panel .front {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 900;
	text-align: center;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	   -moz-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panel .back {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 1000;
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.panel.flip .front {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.panel.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}
.box1{
	background-color: lightgray;

	width: 250px;
	height: 450px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    overflow: hidden;
}

.box1 img{
    width:100%;
    height:80%%;
}
.box2{
	background-color: lightgray;

	width: 250px;
	height: 450px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
   
}



/*****************************Contact ME********************************/
#Contact{
    background-image: url(../images/back1.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    height: 100%;
     }

.contact {
      align-self: center;
    width: 700px;
}
 .contact i {
      padding: 0 20px;
      font-size: 0.8em;
    }
 #Contact h2 {
      font-family: 'Open Sans', sans-serif;
      font-size: 2.5em;
      border: 1px solid #555;
      background-color: rgba(0, 0, 0, 0.7);
      padding-top: 20px;
      height: 75px;
      color: #fff;
      font-weight: 500;
      line-height: 40px;
      padding-left: 50px;
      text-align: center;
    }
  
.buttons{
    font-weight: bold;
}


/*#contactform {
    height: 215px;}*/
.right {
      float: right;
    }
  #contactform  input {
      margin-bottom: 14px;
      width: 100%;
      outline: none;
      border: none;
      
      letter-spacing: 2px;
      font-size: 11px;
      /*padding-left: 15px;*/
      height: 44px;
      border-radius: 0;
    }
   #contactform textarea {
      margin-bottom: 14px;
      width: 100%;
      outline: none;
      border: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 11px;
      /*padding: 15px;*/
      height: 218px;
      border-radius: 0;
    }
  #contactform  btn btn-lg{
      width: 100%;
      height: 50px;
      border-radius: 0;
      border: 1px solid #333;
      background: $btnBackground;
      color: #fff;
      &:hover {
        background: lighten($btnBackground, 20%);
      }
    }
  
  #map-canvas {
    width: 100%;
    height: 135px;
    margin-bottom: 15px;
    border: 2px solid #fff;
  }

/*************************** FOOTER ****************************/
/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.linkedin span {
	background-color: #4099ff;
    
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-linkedin {
	color: #4099ff;
    
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}